name: deploy

on:
  push:
    branches:
      - 'publish*'
    tags:
      - 'v*'

jobs:
  build-n-publish:
    runs-on: ubuntu-22.04
    container:
      image: openxrlab/xrprimer_ci:manylinux2014_x86_64_torch1110_mmcv170
    strategy:
      matrix:
        python-version: [3.6, 3.7, 3.8, 3.9, '3.10']
    steps:
      - uses: actions/checkout@v2
      - name: Build XRPrimer
        run: |
          source /opt/miniconda/etc/profile.d/conda.sh && conda activate py-${{ matrix.python-version }}
          conan remote add openxrlab http://conan.openxrlab.org.cn/artifactory/api/conan/openxrlab
          python setup.py bdist_wheel
      - name: Publish distribution to PyPI
        run: |
          for i in $( ls dist/*-linux_x86_64.whl ); do auditwheel repair $i; done
          du -sh wheelhouse/*
          for i in $( ls wheelhouse/*-manylinux_2_17_x86_64.manylinux2014_x86_64.whl ); do mv $i ${i%-manylinux_2_17_x86_64.*}-manylinux2014_x86_64.whl; done
          ls wheelhouse/*
          for i in $( ls wheelhouse/*.whl ); do auditwheel show $i; done
          twine upload wheelhouse/* -u ${{ secrets.PYPI_USERNAME }} -p ${{ secrets.PYPI_PASSWORD }}
